@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600;700;900&display=swap");

.project-item {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: start;

  &-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  &-stack {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content {
    position: relative;
    overflow: hidden;

    .content-overlay {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      border-radius: 20px;
    }
  }
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: white;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
