@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600;700;900&display=swap");

.About-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;

  .about-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 30px;
    letter-spacing: 2px;

    .about-title {
      font-size: 60px;
      text-align: center;
      margin: 0;
    }
  }
}

.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  &-image {
    height: 500px;
    border-radius: 10px;
  }
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.arrows {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;

  &-arrow {
    color: black;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
