.stack-button {
  border-radius: 20px;
  background-color: rgb(163, 177, 127);
  font-weight: 600;
  font-size: 20px;
  height: 40px;
  width: fit-content;
  padding: 5px 20px;
  margin: 5px;
  text-align: center;
}

// .stack-button:hover {
//   color: white;
// }
